* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f1c232ff;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 50px;
}
label {
    color: #fff;
    font-size: 1.1em;
}

span {
    color: #fff;
    font-size: 1.1em;
}

header h1 {
    color: #1b281b;
    text-shadow: 2px 4px 5px #f9f9f9;
    font-size: 3em;
    text-align: center;
    font-weight: 500;
    user-select: none;
}

section {
    position: relative;
    background-color: #52a7f7;
    border: solid 2px #f9f9f9;
    border-radius: 10px;
    width: 90%;
    height: 390px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    margin-left: 1px;
    margin-top: 10px;
    overflow-y: auto;
    transform: scale(0);
    transition-duration: .3s;
}

section {
    left: 5%;
}

section {
    transform: scale(0);
}

section.up {
    transform: scale(1);
}

section h1 {
    position: relative;
    color: #fff;
    text-shadow: 2px 4px 5px black;
    font-weight: 500;
    text-align: center;
    font-size: 1.5em;
    margin-top: 15px;
}

footer {
    position: fixed;
    right: 0%;
    top: 95%
    
}

.contai1 {
    display: inline-block;
    background-color: rgba(215, 229, 231, 0.507);
    margin: 13px;
    width: 200px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #f9f9f9;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0.1);
}

.contai1:hover {
    border: 2px solid #f1c232ff;
}

.pic1 {
    border-radius: 10px;
}

button {
    background-color: #ffffff;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    width: 60px;
    height: 50px;
    cursor: pointer;
    border: solid 2px #fff;
    border-radius: 7px;
    transition-duration: .2s;
}

button:hover {
    background-color: #f1c232ff;
    color: white    ;
}

.custom {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rbga(0, 0, 0, 0.4);
}

.modal {
    background-color: #f9f9f9;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #888;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
    width: 80%;
    max-width: 20%;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #1b281b;
    text-decoration: none;
}

.rc {   
    top: 95%;
    right: 0%;
    width: 92px;
}

.fd {
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.DK {
    width: 100px;
}

.logo {
     border-radius: 100%;
     margin-left: 5px;
     width: 7%;
}